
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Remove underline from all anchor elements */
a {
  text-decoration: none;
}



/* Add underline or show symbols only to hyperlinks on hover */
a:hover {
  text-decoration: underline; /* Add underline on hover */
}

